<a href="https://colab.research.google.com/github/ApahSaroj/WQI/blob/main/WQI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive

In [2]:
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [3]:
import pandas as pd
df = pd.read_csv('/content/drive/MyDrive/DATA/Taladanda canal data (2014).csv')
df

      Ph    DO    BOD  TC(MPN/100mL)  FC(MPN/100mL)
0   8.33  6.67   4.30       98435.33       93183.69
1   7.35  7.57   5.15       45222.91       61149.88
2   8.28  7.91   3.32       77784.31       63018.54
3   7.57  7.88   4.98       29773.00       74734.65
4   7.83  6.29   8.22      120213.00       22230.46
5   7.36  6.40   3.77       90473.95       82701.29
6   7.87  8.12   7.78       75339.40       44703.84
7   8.17  9.41  11.65      126373.96      145249.06
8   7.82  3.83   5.89       91828.23      116010.48
9   7.86  2.28  10.51      155970.11      136106.05
10  8.02  3.15   0.07       61988.04      164001.79
11  7.19  6.22   0.28      133407.80       73519.65
12  7.38  5.73  -0.49       66539.56      127032.76
13  7.93  5.68   2.64       70773.77      103708.83
14  7.52  5.59   8.30       96338.67      152823.98
15  7.27  5.44   1.30      135755.94       69261.41
16  7.44  8.69   7.08       46161.30       98570.74
17  8.00  7.68   9.63       45089.03        2002.47
18  7.89  7.48   5.46       71096.88       87019.62
19  7.71  6.42   5.65        1680.94       63191.05
20  7.26  7.12   3.62       32768.43       20292.15
21  7.70  6.05   1.21       30165.58       92652.24
22  7.91  4.46   5.79       70186.94       68395.91
23  8.15  2.40   5.69       81302.93       -4099.18

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Ph             24 non-null     float64
 1   DO             24 non-null     float64
 2   BOD            24 non-null     float64
 3   TC(MPN/100mL)  24 non-null     float64
 4   FC(MPN/100mL)  24 non-null     float64
dtypes: float64(5)
memory usage: 1.1 KB

In [5]:
df['npH']=df.Ph.apply(lambda x: (100 if (8.5>=x>=7)  
                                 else(80 if  (8.6>=x>=8.5) or (6.9>=x>=6.8) 
                                      else(60 if (8.8>=x>=8.6) or (6.8>=x>=6.7) 
                                          else(40 if (9>=x>=8.8) or (6.7>=x>=6.5)
                                              else 0)))))

In [6]:
#calculation of dissolved oxygen
df['ndo']=df.DO.apply(lambda x:(100 if (x>=6)  
                                 else(80 if  (6>=x>=5.1) 
                                      else(60 if (5>=x>=4.1)
                                          else(40 if (4>=x>=3) 
                                              else 0)))))

In [7]:
#calc of B.O.D
df['nbod']=df.BOD.apply(lambda x:(100 if (3>=x>=0)  
                                 else(80 if  (6>=x>=3) 
                                      else(60 if (80>=x>=6)
                                          else(40 if (125>=x>=80) 
                                              else 0)))))

In [8]:
df.rename(columns = {'TC(MPN/100mL)':'TC', 'FC(MPN/100mL)':'FC'}, inplace = True)

In [9]:
#calculation of total coliform
df['ntc']=df.TC.apply(lambda x:(100 if (5>=x>=0)  
                                 else(80 if  (50>=x>=5) 
                                      else(60 if (500>=x>=50)
                                          else(40 if (10000>=x>=500) 
                                              else 0)))))

In [10]:
#calculation of fecal coliform
df['nfc']=df.FC.apply(lambda x:(100 if (5>=x>=0)  
                                 else(80 if  (50>=x>=5) 
                                      else(60 if (500>=x>=50)
                                          else(40 if (10000>=x>=500) 
                                              else 0)))))

In [11]:
df.head()
df.dtypes

Ph      float64
DO      float64
BOD     float64
TC      float64
FC      float64
npH       int64
ndo       int64
nbod      int64
ntc       int64
nfc       int64
dtype: object

In [12]:
df['wph']=df.npH * 0.118
df['wdo']=df.ndo * 0.167
df['wbod']=df.nbod * 0.333
df['wtc']=df.ntc * 0.2
df['wfc']=df.nfc * 0.2
df['wqi']=df.wph+df.wdo+df.wbod+df.wtc+df.wfc 
df

      Ph    DO    BOD         TC         FC  ...    wdo   wbod  wtc  wfc    wqi
0   8.33  6.67   4.30   98435.33   93183.69  ...  16.70  26.64  0.0  0.0  55.14
1   7.35  7.57   5.15   45222.91   61149.88  ...  16.70  26.64  0.0  0.0  55.14
2   8.28  7.91   3.32   77784.31   63018.54  ...  16.70  26.64  0.0  0.0  55.14
3   7.57  7.88   4.98   29773.00   74734.65  ...  16.70  26.64  0.0  0.0  55.14
4   7.83  6.29   8.22  120213.00   22230.46  ...  16.70  19.98  0.0  0.0  48.48
5   7.36  6.40   3.77   90473.95   82701.29  ...  16.70  26.64  0.0  0.0  55.14
6   7.87  8.12   7.78   75339.40   44703.84  ...  16.70  19.98  0.0  0.0  48.48
7   8.17  9.41  11.65  126373.96  145249.06  ...  16.70  19.98  0.0  0.0  48.48
8   7.82  3.83   5.89   91828.23  116010.48  ...   6.68  26.64  0.0  0.0  45.12
9   7.86  2.28  10.51  155970.11  136106.05  ...   0.00  19.98  0.0  0.0  31.78
10  8.02  3.15   0.07   61988.04  164001.79  ...   6.68  33.30  0.0  0.0  51.78
11  7.19  6.22   0.28  133407.80   73519.65  ...  16.70  33.30  0.0  0.0  61.80
12  7.38  5.73  -0.49   66539.56  127032.76  ...  13.36   0.00  0.0  0.0  25.16
13  7.93  5.68   2.64   70773.77  103708.83  ...  13.36  33.30  0.0  0.0  58.46
14  7.52  5.59   8.30   96338.67  152823.98  ...  13.36  19.98  0.0  0.0  45.14
15  7.27  5.44   1.30  135755.94   69261.41  ...  13.36  33.30  0.0  0.0  58.46
16  7.44  8.69   7.08   46161.30   98570.74  ...  16.70  19.98  0.0  0.0  48.48
17  8.00  7.68   9.63   45089.03    2002.47  ...  16.70  19.98  0.0  8.0  56.48
18  7.89  7.48   5.46   71096.88   87019.62  ...  16.70  26.64  0.0  0.0  55.14
19  7.71  6.42   5.65    1680.94   63191.05  ...  16.70  26.64  8.0  0.0  63.14
20  7.26  7.12   3.62   32768.43   20292.15  ...  16.70  26.64  0.0  0.0  55.14
21  7.70  6.05   1.21   30165.58   92652.24  ...  16.70  33.30  0.0  0.0  61.80
22  7.91  4.46   5.79   70186.94   68395.91  ...  10.02  26.64  0.0  0.0  48.46
23  8.15  2.40   5.69   81302.93   -4099.18  ...   0.00  26.64  0.0  0.0  38.44

[24 rows x 16 columns]

In [13]:
df.drop(df.iloc[:, 5:15], inplace = True, axis = 1)

In [14]:
df

      Ph    DO    BOD         TC         FC    wqi
0   8.33  6.67   4.30   98435.33   93183.69  55.14
1   7.35  7.57   5.15   45222.91   61149.88  55.14
2   8.28  7.91   3.32   77784.31   63018.54  55.14
3   7.57  7.88   4.98   29773.00   74734.65  55.14
4   7.83  6.29   8.22  120213.00   22230.46  48.48
5   7.36  6.40   3.77   90473.95   82701.29  55.14
6   7.87  8.12   7.78   75339.40   44703.84  48.48
7   8.17  9.41  11.65  126373.96  145249.06  48.48
8   7.82  3.83   5.89   91828.23  116010.48  45.12
9   7.86  2.28  10.51  155970.11  136106.05  31.78
10  8.02  3.15   0.07   61988.04  164001.79  51.78
11  7.19  6.22   0.28  133407.80   73519.65  61.80
12  7.38  5.73  -0.49   66539.56  127032.76  25.16
13  7.93  5.68   2.64   70773.77  103708.83  58.46
14  7.52  5.59   8.30   96338.67  152823.98  45.14
15  7.27  5.44   1.30  135755.94   69261.41  58.46
16  7.44  8.69   7.08   46161.30   98570.74  48.48
17  8.00  7.68   9.63   45089.03    2002.47  56.48
18  7.89  7.48   5.46   71096.88   87019.62  55.14
19  7.71  6.42   5.65    1680.94   63191.05  63.14
20  7.26  7.12   3.62   32768.43   20292.15  55.14
21  7.70  6.05   1.21   30165.58   92652.24  61.80
22  7.91  4.46   5.79   70186.94   68395.91  48.46
23  8.15  2.40   5.69   81302.93   -4099.18  38.44

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 24 entries, 0 to 23
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ph      24 non-null     float64
 1   DO      24 non-null     float64
 2   BOD     24 non-null     float64
 3   TC      24 non-null     float64
 4   FC      24 non-null     float64
 5   wqi     24 non-null     float64
dtypes: float64(6)
memory usage: 1.2 KB

In [19]:
from google.colab import files
import pandas as pd
df.to_csv('Tal.csv')
!cp Tal.csv "/content/drive/MyDrive/DATA"